<!DOCTYPE html>
<html lang="en" xmlns:th ="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/post">Post reddit</a><br/>
<table>
    <tr th:each="reddit : ${reddit}">
        <a th:href="${reddit.link}" target="_blank"> <span th:text="${reddit.title}"> </span></a><br/>

        created by: <span th:text="${reddit.name}"></span><br/>

        <span th:text="${reddit.dateCreated}"></span><br/>
        <a th:href="@{/update/{id}(id=${reddit.id})}">Update</a>
        <a th:href="@{/delete/{id}(id=${reddit.id})}">Delete</a><br/>

    </tr>

</table>
</body>
</html>